.coment
	padding: 1em
	display: flex
	gap: 1em
	align-items: center
	justify-content: center
	&__img
		width: 50px
		height: 50px
		background-image: url("../img/personas/persona.jpg")
		background-size: cover
		border-radius: 50%
	hgroup
		h2
			margin: 0 auto

.stars
	display: flex
	flex-direction: row
	width: 18px
	